<section id="found-pet">
  <div class="header">
    <div class="back-button">
      <a href="#">&lt;</a>
    </div>
    <div class="title">
      Found/Sighted Pet
    </div>
  </div>
  <div class="row">
    <div class= "col-xs-12">
    <%= form_for(@sighting, html: {class: "form-vertical", role: "form" }) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-8">
        <%= f.label :images %>
        <%= f.file_field :images, class: 'form-control' %>
      </div>
        <div class= "control-label col-sm-8">
        <%= f.label :pet_type %><br/>
        <%= f.select :pet_type, ['Dog', 'Cat'] %>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-8">
          <%= f.label :address, class: "form-control", placeholder: "Address" %>
        </div>
      <div class="form_group">
        <div class="control-label col-sm-2">
          <%= f.label :body %>
        </div>
        <div class="col-sm-8">
        <%= f.label :date_seen %>
      </div>

      <div class="col-sm-8">
        <%= f.text_area :note, rows: 8, class: "form-control", placeholder: "Body of Post" %>
      </div>

      <div class="">
        <%= f.hidden_field :latitude, class: "lat" %>
        <%= f.hidden_field :longitude, class: "lng" %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</section>

    <!-- <form id="target-sightings" action="http://localhost:3000/sightings" method="post" enctype="multipart/form-data">
      <div class="form-group col-xs-12">
        <label for="pet-photos">Add photos</label>
        <input type="file" accept="image/*" capture="camera" />
        <input type="file" name="pet-photos" id="pet-photos">
      </div>
      <div class="form-group col-xs-12">
        <label for="pet-type">Pet Type</label>
        <input type="input" name="pet-type" class="form-control" id="pet-type">
      </div>
      <div class="form-group col-xs-12">
        <label for="last-seen">Last seen at</label>
        <input type="input" name="last-seen" class="form-control" id="last-seen">
      </div>
      <div class="form-group col-xs-12">
        <label for="date-time">Date/time</label>
        <input type="date" name="date-time" class="form-control" id="date-time">
      </div>
      <div class="form-group col-xs-12">
        <label for="notes">Notes</label>
        <textarea class="form-control" name="notes" id="notes" rows="3"></textarea>
      </div>
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary">Preview Report</button>
      </div>
    </form> -->
